/*Formato general del header-nav*/
#row-header {
	margin: 0;	
}
#nav-header {
	background-color: #FFFFFF;
	padding: 1.5rem;
	border: none;
	margin-bottom: 0;
}
/*Formato general de la section mobile comienza a viajar*/
.section-travel {
	background-image: url(../assets/images/taxi.jpg);
	background-size: cover;
	background-position: bottom;
	color: #FFFFFF;
}
#row-travel {
	margin: 0;
}
.section-travel #row-travel .travel-col {
	margin-top: 10rem;
	margin-bottom: 10rem;
	background-color: #F7B617;
	padding: 2rem 2rem 3.5rem 4rem;
}
.section-travel #row-travel .travel-col h1 {
	font-size: 2rem;
}
/*Formato general de la section disfruta viaje*/
.section-travel #row-enjoy .travel-col {
	margin-top: 18rem;
	margin-bottom: 18rem;
	background-color: #F7B617;
	padding: 2rem 2rem 3.5rem 4rem;
}
.section-travel #row-enjoy .travel-col h1 {
	padding-bottom: 2.5rem;
}
.section-travel #row-enjoy .travel-col a { /*botón regístrate*/
	padding: 1rem;
	font-size: 1.7rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}	
.after-before:after, .after-before:before {
	content: "";
	border: 1px solid #FFFFFF;
	display: inline-block;
	width: 25%;
	margin: 0.4rem;
}
.after-before strong {
	padding: 6rem; 
}
#row-enjoy {
	margin: 0;
}
#col-header {
	padding: 0;
}
/*Formato general de la section nueva app (mobile)*/
.section-newapp #row-newapp {
	background-color: #F7B617;
}
#row-newapp {
	margin: 0;	
}
.section-newapp #row-newapp .iphone-newapp {
	background-color: #F7B617;
	color: #FFFFFF;
	padding: 3rem;
}

/*Formato general de la section descarga*/
.download {
	background-color: #F7B617;
	color: #FFFFFF;
}
#row-download {
	padding: 3rem 3rem 3rem 0;
	margin: 0;	
}
.download #row-download .col-thumbnail {
	background-color: #F7B617;
}
#mini-row-download {
	padding: 3rem;
	margin: 0;	
}
.download #row-download .iphone {
	padding-left: 9rem;
}
.download #row-download .texto-download h3 {
	padding: 2rem 1rem;
	font-size: 2.5rem;
}
.download #row-download .texto-download p {
	font-size: 2rem;
	margin-bottom: 0.1rem;
	padding-left: 1rem;
}	
.download #row-download .texto-download .download-paragraph {
	padding-top: 1rem;
}
/*Formato general de la section conduce*/
/*backgroun color: black /rgba(0,0,0,0.5);*/
/*opacity: 0.8
filter: alpha*/

#row-drive {
	margin: 0;	
}
/*Formato general de la section tarifas*/
#row-prices {
	margin: 0;	
}
/*Formato general del footer*/
#row-footer {
	margin: 0;
}
#row-copyright {
	margin: 0;
}