body {
	font-family: 'Roboto', sans-serif;
}
/*Formato general del header-nav*/
#row-header {
	margin: 0;	
}
#nav-header {
	background-color: #FFFFFF;
	padding: 1.5rem;
	border: none;
	margin-bottom: 0;
}
.header #row-header #nav-header .fa-bars {
	color: #6E6E6E;
}
/*Formato general de la section mobile comienza a viajar*/
.section-travel {
	background-image: url(../../assets/images/taxi.jpg);
	background-size: cover;
	background-position: bottom;
	color: #FFFFFF;
}
#row-travel {
	margin: 0;
}
.section-travel #row-travel .col-travel {
	margin-top: 10rem;
	margin-bottom: 10rem;
	background-color: #F7B617;
	padding: 2rem 2rem 3.5rem 4rem;
}
.section-travel #row-travel .col-travel h1 {
	font-size: 2rem;
}
.section-travel #row-travel .col-travel .logo-blanco-mobile {
	width: 23%;
	display: inline-block;
}
/*Formato general de la section disfruta viaje*/
.section-travel #row-enjoy .col-travel {
	margin-top: 18rem;
	margin-bottom: 18rem;
	background-color: #F7B617;
	padding: 2rem 2rem 3.5rem 4rem;
}
.section-travel #row-enjoy .col-travel h1 {
	padding-bottom: 2.5rem;
}
.section-travel #row-enjoy .col-travel a { /*botón regístrate*/
	padding: 1rem;
	font-size: 1.7rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}	
.after-before:after, .after-before:before {
	content: "";
	border: 1px solid #FFFFFF;
	display: inline-block;
	width: 25%;
	margin: 0.4rem;
}
.after-before strong {
	padding: 6rem; 
}
#row-enjoy {
	margin: 0;
}
#col-header {
	padding: 0;
}
/*Formato general de la section nueva app (mobile)*/
.section-newapp #row-newapp {
	background-color: #F7B617;
}
#row-newapp {
	margin: 0;	
}
.section-newapp #row-newapp .col-iphone {
	padding: 0;
}
.section-newapp #row-newapp .col-iphone-newapp {
	background-color: #F7B617;
	color: #FFFFFF;
	padding: 3rem;
	margin-top: 4rem;
	margin-left: 1.5rem;
}
.section-newapp #row-newapp #row-iphone {
	margin: 0;
	color: #FFFFFF;
}
.section-newapp #row-iphone .col-arrive-paragraph {

}
/*Formato general de la section descarga*/
.section-download {
	background-color: #F7B617;
	color: #FFFFFF;
}
#row-download {
	padding: 3rem 3rem 3rem 0;
	margin: 0;	
}
.section-download #row-download .col-thumbnail {
	background-color: #F7B617;
}
#mini-row-download {
	padding: 3rem;
	margin: 0;	
}
.section-download #row-download .col-iphone {
	padding-left: 9rem;
}
.section-download #row-download .col-texto-download h3 {
	padding: 2rem 1rem;
	font-size: 2.5rem;
}
.section-download #row-download .col-texto-download p {
	font-size: 2rem;
	margin-bottom: 0.1rem;
	padding-left: 1rem;
}	
.section-download #row-download .col-texto-download .paragraph-download {
	padding-top: 1rem;
}
/*Formato general de la section conduce mobile*/
.section-drive-mobile {
	background-image: url();
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
}
#row-drive-mobile {
	margin: 0;	
}
.section-drive-mobile #row-drive-mobile .col-drive-mobile {
	background-color: rgba(0,0,0,0.5);
	padding: 5rem 2rem 15.25rem 4rem;
}
.section-drive-mobile #row-drive-mobile .col-drive-mobile .button-drive-mobile {
	background-color: #F7B617;
	color: #FFFFFF;
	border: none;
	padding: 1rem;
}
/*Formato general de la section conduce*/
.section-drive {
	background-image: url(../../assets/images/conduce.jpg);
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
}
#row-drive {
	margin: 0;	
}
.section-drive #row-drive .col-drive {
	background-color: rgba(0,0,0,0.5);
	padding: 9rem 2rem 20.25rem 4rem;
}
.section-drive #row-drive .col-drive .button-drive {
	background-color: #F7B617;
	color: #FFFFFF;
	border: none;
	padding: 1rem;
	font-size: 1.75rem;
}
/*Formato general de la section tarifas*/
.section-prices {
	background-color: #F7B617;
	color: #FFFFFF;
}
#row-prices {
	margin: 0;	
}
.section-prices #row-prices .col-prices {
	padding: 8rem 0 12rem 8rem;
}
.section-prices #row-prices .col-prices h4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.section-prices #row-prices .form-prices .input-prices {
	background-color: #F7B617;
	margin-bottom: 2rem;
	border-color: #FFFFFF;
	width: 100%;
}
.section-prices #row-prices .form-prices input::placeholder {
	color: #FFFFFF;
}
.section-prices #row-prices .col-prices-america img {
	padding: 1rem;
	background-color: #F7B617;
	border-color: #FFFFFF;
	margin-top: 4rem;
}
.section-prices #row-prices .form-prices .button-route {
	margin-left: 6rem; 
}
/*Formato general de la section tarifas mobile*/
.section-prices #row-prices .col-prices-mobile {
	padding: 6rem 0 2rem 1rem;
}
.section-prices #row-prices .col-prices-mobile h5 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.section-prices #row-prices .form-prices-mobile .input-prices-mobile {
	background-color: #F7B617;
	margin-bottom: 2rem;
	border-color: #FFFFFF;
	width: 90%;
}
.section-prices #row-prices .form-prices-mobile input::placeholder {
	color: #FFFFFF;
}
.section-prices #row-prices .col-prices-route img {
	padding: 1rem;
	background-color: #F7B617;
	border-color: #FFFFFF;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.section-prices #row-prices .form-prices-mobile .button-route-mobile {
	margin-left: 6rem; 
}
/*Formato general del footer*/
.footer {
	background-color: #2B2B2B;
}
#row-footer {
	margin: 0;
}
.footer #row-footer .col-footer-logo {
	padding-right: 2rem;
	padding-left: 8rem;
}
.footer #row-footer .col-footer-logo img {
	padding-top: 8rem;
}
.footer #row-footer .col-footer-logo-mobile img {
	padding-top: 1rem;
	width: 30%;
}
#row-footer-lists {
	margin: 0;
	padding-top: 2rem;
}
.footer #row-footer-lists .col-footer-list ul li {/*no responde ni con padding, ni margin, ni id, ni important*/
	padding-bottom: 2rem;
}
.footer #row-footer-lists ul li a{
	color: #FFFFFF;
}
.footer #row-footer-lists .col-footer-svg img {
	padding-bottom: 2rem;
	width: 50%;
}
.footer #row-footer-lists .col-footer-svg-mobile .app-store-mobile {
	width: 100%;
}
.footer #row-footer-lists .col-footer-svg-mobile .google-play-mobile {
	width: 100%;
}
.footer #row-footer-lists .col-footer-svg .app-store {
	padding-top: 20rem;
}
.footer #row-footer-lists .col-footer-svg-mobile .google-play-mobile {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.footer #row-footer-lists .col-footer-svg-mobile .fa {
	color: #FFFFFF;
	padding-right: 0.25rem;
}
#row-social {
	margin: 0;
}
.footer #row-social .col-social {
	padding-left: 8rem;
}
.footer #row-social .col-social .fa {
	color: #FFFFFF;
	padding-right: 0.5rem;
}
#row-copyright {
	margin: 0;
}
.footer #row-copyright .col-copyright {
	color: #FFFFFF;
	padding-left: 8rem;
	padding-bottom: 6rem;
}
.footer #row-copyright .col-copyright-mobile {
	color: #FFFFFF;
	padding-left: 2rem;
}